* {
    background-color: #D5DBDB;
}

body {
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: black;
}

ul {
    display: inline-block;
    background-color: #34495E;
    color: #34495E  ;
}

a {
    
    color: black;
    background-color: #34495E;
    font-size: 1.3em;
}

img {
    animation: rotate 7s linear infinite;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 3rem;
    height: 3rem;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

.nav {
    background-size: cover;
    background-color: #34495E  ;
    width: auto;
    padding: 5px;
}